@{
    Layout = null;
    var interval = ViewBag.interval;
}
<!DOCTYPE html>
<html>
<head>
    <title>Plane Location</title>
</head>
<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    .map {
        height: 100%;
        width: 100%;
    }

    .marker {
        position: absolute;
        height: 15px;
        width: 15px;
    }

    .app-container {
        height: 100%;
        position: relative;
    }
</style>
<body>
    <div class="app-container">
        <img src="~/Images/export-map-share.png" class="map" />
        <img src="~/Images/marker.png" class="marker" />
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        var i = 10;
            function setLocation(value, max, min) {
                return (100 *((value + max) / (max - min)));
        }
        function positionMarker() {

            var latitude = setLocation(@ViewBag.latitude, 90, -90);
        var longitude = setLocation(@ViewBag.longitude, 180, -180);
        var xPos = i + '%';
        var yPos = i + '%';
            var marker = document.querySelector('.marker');
            marker.style.top = yPos;
            marker.style.left = xPos;
            console.log(`positioning marker at: x(${xPos}) y(${yPos})`);
        }
        function getPosition() {
            i += 2;
            positionMarker();
        }
        //getPosition();
        setInterval(getPosition, 1000);
    </script>
    @RenderBody()
</body>
</html>
